<div class="container" ng-controller="BinCtrl">
  <form class="row form-horizontal" role="form" ng-controller="NormalHexCtrl" ng-submit="submitNormalHex()">
    <div class="form-group">
      <label for="inputNormalHex" class="col-md-3 control-label">Normal HEX</label>

      <div class="col-md-9">
        <input type="text" class="form-control" id="inputNormalHex" placeholder="61 62 63" ng-model="data.normalHex">
      </div>
    </div>
  </form>
  <form class="row form-horizontal" role="form" ng-controller="CompactHexCtrl" ng-submit="submitCompactHex()">
    <div class="form-group">
      <label for="inputCompactHex" class="col-md-3 control-label">Compact HEX</label>

      <div class="col-md-9">
        <input type="text" class="form-control" id="inputCompactHex" placeholder="616263" ng-model="data.compactHex">
      </div>
    </div>
  </form>

  <form class="row form-horizontal" role="form" ng-controller="CStyleByteArrayCtrl" ng-submit="submitCStyleByteArray()">
    <div class="form-group">
      <label for="inputCStyleByteArray" class="col-md-3 control-label">C-Style Byte Array</label>

      <div class="col-md-9">
        <input type="text" class="form-control" id="inputCStyleByteArray" placeholder="byte[3] { 0x61, 0x62, 0x63 }"
               ng-model="data.cStyleByteArray">
      </div>
    </div>
  </form>

  <form class="row form-horizontal" role="form" ng-controller="HexMapCtrl">
    <div class="form-group">
      <label for="wellHexMap" class="col-md-3 control-label">Hex Map</label>

      <div class="col-md-9">
        <!--<div class="well" id="wellHexMap"></div>-->
        <pre class="well" id="wellHexMap">{{data.hexMap}}</pre>
        <!--<input type="text" class="form-control" id="wellHexMap" placeholder="byte[3] { 0x61, 0x62, 0x63 }"-->
        <!--ng-model="data.cStyleByteArray">-->
      </div>
    </div>
  </form>

  <form class="row form-horizontal" role="form" ng-controller="Utf8StringCtrl"  ng-submit="submitUtf8String()">
    <div class="from-group">
      <label class="col-md-3 control-label" for="inputUtf8String">UTF-8 String</label>

      <div class="col-md-9">
        <input type="text" class="form-control" id="inputUtf8String" placeholder=""
               ng-model="data.utf8String">
      </div>
    </div>
  </form>

  <form class="row form-horizontal" role="form" ng-controller="UnicodeStringCtrl" ng-submit="submitUnicodeString()">
    <div class="from-group">
      <label class="col-md-3 control-label" for="inputUnicodeString">Unicode String</label>

      <div class="col-md-9">
        <input type="text" class="form-control" id="inputUnicodeString" placeholder=""
               ng-model="data.unicodeString">
      </div>
    </div>
  </form>
</div>
