<div class="container" ng-controller="BinCtrl">
  <form class="row form-horizontal" role="form" ng-controller="NormalHexCtrl" ng-submit="submitNormalHex()">
    <div class="form-group">
      <label for="inputNormalHex" class="col-md-3 control-label">Normal HEX</label>

      <div class="col-md-9">
        <input type="text" class="form-control" id="inputNormalHex" placeholder="Normal Hex Data Here" ng-model="data.normalHex">
      </div>
    </div>
  </form>
  <form class="row form-horizontal" role="form" ng-controller="CompactHexCtrl" ng-submit="submitCompactHex()">
    <div class="form-group">
      <label for="inputCompactHex" class="col-md-3 control-label">Compact HEX</label>

      <div class="col-md-9">
        <input type="text" class="form-control" id="inputCompactHex" placeholder="Compact Hex Data Here" ng-model="data.compactHex">
      </div>
    </div>
  </form>

  <form class="row form-horizontal" role="form" ng-controller="CStyleHexCtrl" ng-submit="submitCStyleHex()">
    <div class="form-group">
      <label for="inputCStyleHex" class="col-md-3 control-label">C-Style Byte Array</label>

      <div class="col-md-9">
        <input type="text" class="form-control" id="inputCStyleHex" placeholder="CStyle Hex Data Here" ng-model="data.cStyleHex">
      </div>
    </div>
  </form>
</div>
